body{
    background-color: rgb(46, 46, 46);
}

#itachi{
    border: 2px dotted white;
}

.layout{
    color: white;
    font-family: cursive;
}


table tr:even{
    background-color: rgb(110, 110, 110);
}
